<div class="login-container">
    <div class="panel panel-default worker-client-panel">

	  <!-- <%# if @serviceprovider.errors.any? %>
	    <ul class="Signup_Errors">
	    <%# for message_error in @serviceprovider.errors.full_messages %>
	      <li> <%#= message_error %></li>
	    <%# end %>
	    </ul>
	  <%# end %> -->

	</div>
</div>

	  <%= render 'serviceproviders/form' %> 