<section id="banner">
        <div class="container">
            <div class="row">
                <h1 class="header-title">SerbisYou</h1>
                <div class="col-md-12">
                    <p class="header-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sed tenetur architecto aliquam porro molestiae amet praesentium, quos error, nulla deserunt ex consequatur saepe nihil dolorum consectetur cum dolore asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure fugiat cupiditate aperiam ipsa, doloribus mollitia nobis, facere qui dolor, quam tempora assumenda aliquid voluptatum sed voluptate. Reiciendis voluptas recusandae aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, ipsam molestias debitis harum porro, aspernatur tempore quasi!</p>
                    <p class="header-desc-second">So Sign Up now for <span style="color:#f0ad4e">FREE</span> !</p>
                    <button class="header-btn-customer">Sign Up as Customer</button>
                    <button class="header-btn-provider">Sign Up as Provider</button>
                </div>
            </div>
        </div>
</section>