<div class="row search-field">
</div>

<div class="row prof-header">
 <h2 class="profile-header">Edit Account</h2>
</div>

<div class="login-container">
    <div class="panel panel-default worker-client-panel">

      <% if @admin.errors.any? %>
        <ul class="Signup_Errors">
        <% for message_error in @admin.errors.full_messages %>
          <li>* <%= message_error %></li>
        <% end %>
        </ul>
      <% end %>

    </div>
</div>

<%= render 'form' %> 