<div class="row login-worker-header-row">
 <div class="col-lg-11 col-lg-offset-1">
  <div class="login-worker-banner">
  	<%= image_tag 'worker_1.png', class: 'img-responsive login-worker-header-img' %>
    <h2 class="login-worker-header">Login</h2>
    <p class="login-worker-description">You are logging in as a Customer</p>
  </div>
 </div>
</div>

<div class="login-container">
	<div class="panel panel-default worker-client-panel">
		  <%= image_tag('logo_serbisyou.png', class: 'login-img img-responsive') %>
	      <%= render 'login' %>
	</div>
</div>


