<!--<div class="clearance">
  <%#= link_to image_tag(clearance.avatar_url(:thumb)), clearance if clearance.avatar? %>
  <div class="name"><%#= clearance.name %></div>
  <div class="actions">
    <%#= link_to "edit", edit_clearance_path(clearance) %> |
    <%#= link_to "remove", clearance, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div> -->